<h1>Products</h1>
<hr>
<ul>
  <li style="display:inline; margin: 50px"><a style="text-decoration: none" href="/realTimeProducts">Create
      Products</a></li>
  <li style="display:inline"><a style="text-decoration: none" href="/form">Create Products by form</a></li>
</ul>
<hr>
<table border="1">
  <thead>
    <tr>
      <th>#ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Code</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    {{#each AllProducts}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.code}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>